@charset "UTF-8";


@font-face {

    font-family: 'bot' ;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{

   
    --cor-0: white;
    --cor_1: #c5ebd6;
    --cor_2: #83e1ad;
    --cor_3: #3ddc84;
    --cor_4: #2fa866;
    --cor_5: #1a5c37;
    --cor_6: #063d1e;
    
    --font-bot: 'bot';
    --font-arial:Arial,Verdana,Helvetica,sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    


}
    * {
        margin: 0px;
        padding: 0px;
        font-family: var(--font-destaque);
    }

    body > header{

    height: 200px;
    background-image: linear-gradient(to bottom, var(--cor_3), var(--cor_5));
    color: var(--cor-0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    
   

    }

    body > header > h1{

        text-align: center;
        margin: 20px;
        font-family: var(--font-destaque);


    }

    body > header > p {

        text-align: center;
        
    }

    body > header > nav{
       margin-top: 80px;
       
    }

    body > header > nav > a{

        margin-right: 20px;
        padding:10px ;
        border-radius: 10px;
        text-decoration: none;
        color: var(--cor-0);
        background-image: linear-gradient(to bottom, var(--cor_3), var(--cor_5));
        

    }